.bg{
    background-image: url("../../assets/img/bg.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    overflow-y: hidden;
}
.col-8.log {
    background: rgb(70 26 41);
    margin-top: 3rem;
    color: white;
}
.bg-light {
    background-color: #461a29!important;
    color: white !important;
}