<app-navbar></app-navbar>

<div class="container">
    <h4 class="mt-5">Update Mechanic</h4>
    <form [formGroup]="updateUser" class="theform" (submit)="onSubmit()">
        <div class="form-group">
            <label for="exampleInputEmail1">Company Name *</label>
            <input type="text" class="form-control" formControlName="companyName" >
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email Adress *</label>
                    <input type="text" class="form-control" formControlName="email" >
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">Phone Number *</label>
                    <input type="text" class="form-control" formControlName="phoneNumber" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">Address *</label>
                    <input type="text" class="form-control" formControlName="address" >
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">Service Type *</label>
                    <input type="text" class="form-control" formControlName="serviceType" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="button"  class="btn btn-secondary btn-lg btn-block btn-sm" (click)="onSubmit()">Update Mechanic</button>
        </div>
    </form>

</div>

